### APP SETTINGS

APP_NAME={{ getenv "APP_NAME" "drupal" }}
APP_TITLE={{ getenv "APP_TITLE" "drupal" }}
APP_ACCOUNT_NAME={{ getenv "APP_ACCOUNT_NAME" "admin" }}
APP_ACCOUNT_MAIL={{ getenv "APP_ACCOUNT_MAIL" "drupal@example.com" }}
APP_ENV={{ getenv "APP_ENV" "local" }}

DRUPAL_HASH_SALT={{ getenv "DRUPAL_HASH_SALT" "drupal" }}

DB_NAME={{ getenv "DB_NAME" "drupal" }}
DB_USER={{ getenv "DB_USER" "drupal" }}
DB_PASSWORD={{ getenv "DB_PASSWORD" "dbpassword" }}
DB_HOST={{ getenv "DB_HOST" "mariadb" }}
DB_DRIVER={{ getenv "DB_DRIVER" "mysql" }}
DB_PORT={{ getenv "DB_PORT" "3306" }}

### Stack SETTINGS

APP_ROOT={{ getenv "APP_ROOT" "/var/www/app" }}
APP_DOCROOT={{ getenv "APP_DOCROOT" "/var/www/app/web" }}
FILES_DIR={{ getenv "FILES_DIR" "/mnt/files" }}

### Drush

DRUSH_OPTIONS_URI={{ getenv "DRUSH_OPTIONS_URI" "" }}
